<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="googlechrome" />
  <package id="keepass" />
  <package id="firefox" />
  <package id="wireshark" />
  <package id="winscp" />
  <package id="python" />
  <package id="python2" />
  <package id="strawberryperl" />
  <package id="php" />
  <package id="winmerge" />
  <package id="cygwin" />
  <package id="ruby" />
  <package id="github" />
  <package id="notepadplusplus" />
  <package id="putty" />
  <package id="superputty" />
  <package id="gimp" />
  <package id="filezilla" />
  <package id="virtualbox" />
  <package id="vmwareworkstation" />
  <package id="docker" />
  <package id="vagrant" />
  <package id="mariadb" />
  <package id="7zip" />
</packages>
